*{
  box-sizing: border-box;
  position: relative;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
}
*::-webkit-scrollbar {
    display: none;
}

*:focus {
    outline: none;
}


/*---------- burgerMenu ----------*/


a{
  color: white;
  text-decoration: none;
}
.logocontainer {
  top: 5px;
}


.burgercontainer {
  display: inline-block;
  cursor: pointer;
  margin: 5px;
}


.bar1, .bar2, .bar3 {
  width: 35px;
  height: 4px;
  background-color: grey;
  margin: 6px 0;
  transition: 0.4s;
  border-radius: 15px;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

/*---------------- default settings ----------*/

a{
  color: white;
  text-decoration: none;
}
.logocontainer {
  top: 5px;
}

.signupbutton {
  background-color: #FCB040;
  color: white;
  padding: 3px 30px 7px;
  border-radius: 25px;
  -webkit-box-shadow: 0px 6px 9px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 6px 9px -2px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 9px -2px rgba(0,0,0,0.75);
}
.signupbutton:hover {
  background-color: #bd832f;
}
.maincontainer h1{
  display: inline;
}
h2 {
  display: inline;
  font-size: 2em;
  font-weight: 200;
}
.maincontainer .signupbutton{
  padding: 10px 55px;
  top: 30px;
  font-size: 18px;
}


/*------ hover på menu ------*/
.navstyle {
    display: inline-block;
}
.navstyle a:hover{
  color: #FCB040;
  text-decoration:  underline;
}
    /*------ Info om hvilken side du er på ------*/

.navforside {
    text-decoration: underline;
}
.navkontakt{
    text-decoration: underline;

}

.navom {
    text-decoration: underline;
}



.h1style {
  font-size: 48px;
  font-weight: 100;
}




/*--------- different screen sizes ----------*/


/* Extra small devices (phones, 600px and down) */
/* and Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px),(min-width: 600px) {
    .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto auto auto auto auto;
}
/*----------------- menu ----------------*/


    .header {
     z-index: 99;
     padding: 15px;
     grid-column: 1 /  5;
     -webkit-box-shadow: 0px 6px 18px -8px rgba(0,0,0,0.75);
     -moz-box-shadow: 0px 6px 18px -8px rgba(0,0,0,0.75);
     box-shadow: 0px 6px 18px -8px rgba(0,0,0,0.75);
     display: flex;
     justify-content: space-between;
     flex-wrap:wrap;
    }


    .header img {
     height: 40px;
    }
    .header .signupbutton {
      color:white;
    }
    .menu {
      display: none;
      width: 100%;
      text-align: center;

    }
    .menuShow {
      display: block;

    }
    .menu a {
      display: block;
      color: black;
      margin-top: 15px;

    }




    /*----------------- menu ----------------*/
    main {
    padding-top: 20px;
    grid-column: 1 /  5;

    }
    .maincontainer{
      text-align: center;
    }
    .maincontainer h1 {
      font-weight: 200;
    }
    .maincontainer div {
      width: 70%;
      margin: 20px auto;
    }

    .imagecontainer {
        grid-column: 1 /  5;
        margin: 20px auto;
        width: 70%;
    }

    .imagecontainer img {
      width: 100%;
    }
    .submain {
      grid-column: 1 /  5;
      z-index: 99;
    }

    .imagecontainer2 {
      grid-column: 1 / 5;

    }
    .imagecontainer2 img {
      margin: 40px auto 0 auto;
      width: 100%;
    }

    p {
      line-height: normal;
    }

/*----------footer styles start---------*/
    footer{
        background-color: #f5f5f5;
        grid-column: 1 / 5;
        height: 200px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    footer div {
      margin: 20px auto;
      width: 50%;
      text-align: center;
    }
    footer div:nth-child(1) img {
      width: 200px;

    }
    footer div:nth-child(4) img {
      width: 50px;

    }
/*----------footer styles slut---------*/


    /* ----------- kontakt side styles ----------*/
    .kontakt-form {
        grid-column: 1 / 5;
        top: 30%;
        margin: 0 auto;
        box-shadow: 0 0 10px black;
        border-radius: 10px;
        width: 60%;
        text-align: center;
        -webkit-box-shadow: -2px 9px 28px -1px rgba(122,118,122,1);
        -moz-box-shadow: -2px 9px 28px -1px rgba(122,118,122,1);
        box-shadow: -2px 9px 28px -1px rgba(122,118,122,1);
    }

    .tekstb input {

        width: 80%;
        border: none;
        border-bottom: 1px solid #9c9c9c;
        margin-top: 30px;
        padding-bottom: 5px;

    }

    .tekstb textarea {
        width: 80%;
        border: none;
        border-bottom: 1px solid #9c9c9c;
        margin-top: 30px;

    }
    .buttoncontainer {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .button {
        padding: 10px 40%;
        background-color: #FAAF40;
        border-radius: 20px;

    }

      .kontakttekst {
      grid-column: 2 / 4;
      margin: 0 auto;
      top: 50px;
      font-size: 20px;

    }
    /* kontakt side styles slut*/

    
    /*------ om siden tekst start ------*/
    
    .omtekst {
        grid-column: 2/4;
        grid-row: 2/3;
        text-align: center;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    /*------ om siden tekst slut ------*/
    
    


  


/* ----------- sign up side styles ----------*/



      .signup{
        width: 80%;
        margin: 60px auto;

        border-radius: 10px;
        -webkit-box-shadow: -2px 9px 28px -1px rgba(122,118,122,1);
        -moz-box-shadow: -2px 9px 28px -1px rgba(122,118,122,1);
        box-shadow: -2px 9px 28px -1px rgba(122,118,122,1);
        text-align: center;
        max-width: 700px;

      }
      .signup input {
        width: 80%;
        border: none;
        border-bottom: 1px solid #9c9c9c;
        margin-top: 30px;
        padding-bottom: 5px;
        font-size: 18px;


      }
      .signup h1 {
        font-weight: 200;
        padding-top: 30px;
      }

      .signup a {
        color: blue
      }
      .signup button {
        padding: 10px 20%;
        background-color: #FCB040;
        border-radius: 20px;
        margin-bottom: 20px;
        border: none;
        color: white;
        border-bottom: 1px solid #9c9c9c;
        margin-top: 30px;
        font-size: 20px;
    }
    .signup button:hover{
      background-color: #bd832f;
    }
    .buttoncontainer {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .button {
        padding: 10px 40%;
        background-color: #FAAF40;
        color:white;
        font-size: 18px;
      }
      .conditions {
        margin: 20px 0;
      }

      .errorstyle {
        font-size: 12px;
        color: red;
        margin: 0 0;
      }

    /* ----------- program side styles ----------*/
      .logoheader{
        grid-column: 1 / 5;
        text-align: center;
      }

      .logoheader img {
        height: 50px;
        top: 20px;
      }

      .programcontainer {
        grid-column: 1 / 5;
        background-color: #f5f5f5;
        width: 90%;

        margin: 30px auto;
        border-radius: 25px;
      }
      .program {
        width: 80%;
        background-color:white;
        margin: 30px auto;
        border-radius: 25px;
        text-align: center;
        max-width: 400px;
        height: 400px;

      }
      .program h3 {
        font-size: 26px;
        padding: 10px 0;

      }

      .program hr {
        width: 90%;
        border-top: 1px solid #f5f5f5;
        margin: 10px auto;
      }
      .program div {
        width: 90%;
        margin: 15px auto;

      }
      .normalbutton{
        padding: 10px 60px;
        background-color: #FCB040;
        border-radius: 20px;
        top: 20px;
        border: none;
        color:white;
        font-size: 18px;
      }
      .normalbutton:hover{
        background-color: #bd832f;
      }

     /* ----------- basic side styles ----------*/
     header {
       padding-top: 20px;
       display: flex;
       justify-content: space-between;
       width: 100%;
     }
     .headerbasic{
       width: 60px;
     }
     header img {
       height: 50px;
     }
     header a {
       color:black;
      left: 20px;
     }

     .sitecontainer {
       display: flex;
       justify-content: center;
     }

     .site {
       margin-top: 20px;
       width: 90%;
       height: 900px;
       background: #f5f5f5;
       border-radius: 25px;
     }
     .sitecount {
       display: none;

     }
     .site h1  {

       margin-top: 20px;
       margin-bottom: 20px;
     }
     .site h2  {
       font-size: 20px;
     }
     .site .intro {
       text-align: center;

     }
     .iframecontainer{
       width: 100%;
       overflow: hidden;
       padding-top: 56.25%;
       margin: 20px auto;
       max-width: 700px;
       max-height: 438px;
     }
     .iframerep {
       position: absolute;
       top: 0;
       left: 0;
       bottom: 0;
       right: 0;
       width: 100%;
       height: 100%;
       border: none;
       border-radius: 25px;
       max-height: 438px;

     }
     .intro p {
       width: 90%;
       margin: 0 auto;
     }

     .intro a:nth-child(1) {
       color:blue;
     }

     .intro .normalbutton {
       top:50px;
     }
     .questions{
       margin-top: 30px;
     }

     .questions input {
       display: inline;
     }
     .questions p:nth-child(3)  {
       display: inline;
     }
     .exstrap {
       padding-top: 30px;
     }



}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .container {
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto auto auto auto;

}
p {
  line-height: 1.6;
}

.header  {
  grid-column: 1 / 9;
  grid-row: 1 /2;
  box-shadow: none;

}
.header a {
  margin: 0 15px;
}

.burgercontainer{
  display: none;
}

.menu {
  width: auto;
 top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
}
.menu a {
  display: inline;
  color: white;
}



main {

    grid-column: 1 / 5;
    grid-row: 1 /3;
    top: 130px;
    z-index: 99

}
.imagecontainer {
  margin-top: 0;
    grid-column: 3 / 9;
    grid-row: 1 /3;
    width: 100%;
    background-image: url(images/webdesigner.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-size: 530px auto;
    background-position:right top;
    height: 500px;


}
.imagecontainer img, .imagecontainer2 img  {
  display: none;

}

.imagecontainer2{
  background-image: url(images/mobilbig.png);
  height: 600px;
  background-size: 490px auto;
  grid-column: 1 / 7;
  grid-row: 3 /4;
}
.submain {
  grid-column: 5 / 9;
  grid-row: 3 /4;
  top: 50px;
}

footer{
  grid-column: 1 / 9;
}
footer div {

  width: 25%;
  text-align: center;

}

        /* kontakt side styles*/


    .piccontainer{
         margin-top: 0;
    grid-column: 1/ 9;
    grid-row: 1 / span 4;
    width: 100%;
    background-image: url(boelgens.png);
    background-repeat: no-repeat;
    background-size: 960px auto;
    background-position:right top;
    height: 900px;

    }




    .kontakt-form {
        z-index: 99;
        background-color: white;
        grid-column: 2 /  8;
        grid-row: 2/ 3;
        top: 30%;
        margin: 0 auto;
        right: 170px;
        box-shadow: 0 0 10px black;
        border-radius: 10px;
        width: 60%;
        text-align: center;
        -webkit-box-shadow: -2px 9px 28px -1px rgba(122,118,122,1);
        -moz-box-shadow: -2px 9px 28px -1px rgba(122,118,122,1);
        box-shadow: -2px 9px 28px -1px rgba(122,118,122,1);
    }

    .kontakt-form h1 {
        margin-top: 10px;
    }

    .tekstb input {

        width: 80%;
        border: none;
        border-bottom: 1px solid #9c9c9c;
        margin-top: 30px;
        padding-bottom: 5px;
        font-size: 15px;

    }

    .tekstb textarea {
        width: 80%;
        border: none;
        border-bottom: 1px solid #9c9c9c;
        margin-top: 30px;
        font-size: 15px;

    }
    .buttoncontainer {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .button {
        padding: 10px 40%;
        background-color: #FAAF40;
        border-radius: 20px;
        font-size: 20px;

    }

    .kontakttekst {
        grid-column: 6 / 9;
        grid-row: 2/3;
        top:  30%;
        margin-right: 20px;
    }
    .kontakttekst p {
        color: white;
        font-size: 20px;
        padding-top: 10px;

    }

    .kontakttekst h1 {
        color: white;
        font-weight: bold;
    }

/*-----social medie iconer-----*/
    .kontakt-form img{
        top: 15px;

    }

    /* kontakt side styles slut*/

    
    /*------ om side styles start ------*/
    
    .ombaggrund {
            margin-top: 0;
    grid-column: 1/ 9;
    grid-row: 1 /  3;
    width: 100%;
    background-image: url(baggrundenom.png);
    background-repeat: no-repeat;
    background-size: 730px 800px;
    background-position:right top;
    height: 900px;
        
    }
    
    .tobias {
        grid-column: 1/ span 3;
        display: block;
        width: 100%;
        left: 110px;
        bottom: 820px;
        
        
    }
    
    .tobias img {
        width: 180px;
        border-radius: 10px;
        box-shadow: 0 10px 20px black;
    }
    
    .malene {
        grid-column: 1/ span 3;
        display: block;
        width: 100%;
        left: 110px;
        bottom: 800px;
        
        
    }
    
    .malene img {
        width: 180px;
        border-radius: 10px;
        box-shadow: 0 10px 20px black;
    }
    
    .casper {
        grid-column: 1/ span 3;
        display: block;
        width: 100%;
        left: 110px;
        bottom: 780px;
        
        
    }
    
    .casper img {
        width: 180px;
        border-radius: 10px;
        box-shadow: 0 10px 20px black;
    }
    /*------ om side styles slut ------*/
    
     /*------ om siden tekst start ------*/
    
    .omtekst {
        grid-column: 5/9;
        grid-row: 2/4;
        margin-top: 70px;
        margin-right: 5px;
        bottom: 5%;
        text-align: justify;
        right: 10px;
        padding-right: 20px;
        
    }
    
    .omtekst p, .omtekst h1 {
        color: white;
    }
    .omtekst h1{
        font-weight: bold;
        text-align: center;
        padding-bottom: 20px;
    }
    
    /*------ om siden tekst slut ------*/
    
    

    /* ----------- program side styles ----------*/
    .logoheader{
      grid-column: 1 / 9;
    }

    .programcontainer {
      grid-column: 1 / 9;
      background-color: #f5f5f5;
      width: 90%;

      margin: 30px auto;
      border-radius: 25px;
      display: flex;
      justify-content: space-evenly;
      flex-wrap: wrap;

    }
    .program {
      width: 40%;
      height: 450px;
      margin: 30px 0;


    }
    /* ----------- basic side styles ----------*/


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header a {
    font-size: 18px;
  }

  .imagecontainer {
    background-image: url(images/webdesignerbig.png);
    background-size: 810px auto ;
    grid-column: 2 / 9;
    height: 670px;


  }

  main {

      grid-column: 1 / 5;
      grid-row: 1 /3;
      top: 200px;

  }
  h1, h2 {
    font-size: 40px;
  }

 p {
    font-size: 18px;

  }

  .imagecontainer2{
    background-image: url(images/mobilbig.png);
    height: 610px;
    background-size: 600px auto;
}
  .submain {
    top: 70px;
  }
  .programcontainer {
    grid-column: 1 / 9;
    background-color: #f5f5f5;
    width: 90%;

    margin: 30px auto;
    border-radius: 25px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .program {
    width: 40%;
    height: 450px;
    margin: 30px 10px;

    }
    /*------ kontakt side styles------*/
      .piccontainer{
         margin-top: 0;
    grid-column: 1/ 9;
    grid-row: 1 / span 4;
    width: 100%;
    background-image: url(boelgens.png);
    background-repeat: no-repeat;
    background-size: 1250px auto;
    background-position:right top;
    height: 900px;

    }
    /*------ kontakt side styles slut------*/

    /*------ om side styles start ------*/
    
    .ombaggrund {
            margin-top: 0;
    grid-column: 1/ 9;
    grid-row: 1 /  3;
    width: 100%;
    background-image: url(baggrundenom.png);
    background-repeat: no-repeat;
    background-size: 1000px auto;
    background-position:right top;
    height: 900px;
   
    }
    
    
       /*------ om siden tekst start ------*/
    
    .omtekst {
        grid-column: 5/9;
        grid-row: 2/4;
        margin-top: 70px;
        margin-right: 5px;
        bottom: 5%;
        text-align: justify;
        right: 50px;
        padding-right: 20px;
        
    }
    
    /*------ om siden tekst slut ------*/
   
    
    
    /*------ om side styles slut ------*/
    
    

  /* ----------- basic side styles ----------*/
  .sitecontainer {
    display: flex;
    justify-content: space-evenly;
  }

  .site {
    margin-top: 20px;
    width: 75%;
    height: 900px;
    background: #f5f5f5;
    border-radius: 25px;
  }
  .sitecount {
    width: 15%;
    height: 900px;
    background: #f5f5f5;
    display: block;
    margin-top: 20px;
    border-radius: 25px;
  }
  .iframecontainer{
    width: 100%;
    overflow: hidden;
    padding-top: 453px;
  }
  .intro p {
    width: 90%;
    margin: 0 auto;
  }
  .sitecount ul {
    text-align: center;
    list-style-type: none;
    margin-top: 20px;
  }
  .sitecount .thick{
    font-weight: bold;
    padding-bottom: 20px;
    font-size: 20px;

  }
  .sitecount li {
    color: black;
    border-bottom: 1px solid #a6a6a6;
    padding: 10px 0;
  }
  .sitecount li a {
    color: black;
  }
  .sitecount li a:hover {
    color:#FCB040;
  }

}






/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
body{
  height: 100vh;
}

  .menu a {
    font-size: 20px;
  }

  .imagecontainer {
    background-image: url(images/webdesignerbig.png);
    background-size: 950px auto ;
    grid-column: 2 / 9;
    height: 760px;

  }

  main {

      grid-column: 1 / 5;
      grid-row: 1 /3;
      top: 220px;

  }
  main h1 {
    font-size: 40px;
  }

  main p {
    font-size: 18px;
  }

  .imagecontainer2{
    background-image: url(images/mobilbig.png);
    background-size: 750px auto;
    height: 770px;

}
.submain {
  top: 100px;
}
.programcontainer {
  grid-column: 1 / 9;
  background-color: #f5f5f5;
  width: 90%;

  margin: 30px auto 600px;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.program {
  width: 50%;
  height: 450px;

}

    /*------ kontakt side styles------*/

     .piccontainer{
         margin-top: 0;
    grid-column: 1/ 9;
    grid-row: 1 / span 4;
    width: 100%;
    background-image: url(boelgens.png);
    background-repeat: no-repeat;
    background-size: 1400px auto;
    background-position:right top;
    height: 900px;

    }

      .kontakt-form {
        z-index: 99;
        background-color: white;
        grid-column: 2 /  8;
        grid-row: 2/ 3;
        top: 30%;
        margin: 0 auto;
        right: 210px;
        box-shadow: 0 0 10px black;
        border-radius: 10px;
        width: 60%;
        text-align: center;
        -webkit-box-shadow: -2px 9px 28px -1px rgba(122,118,122,1);
        -moz-box-shadow: -2px 9px 28px -1px rgba(122,118,122,1);
        box-shadow: -2px 9px 28px -1px rgba(122,118,122,1);
    }

    .kontakttekst {
        margin-right: 50px;

    }

    .kontakttekst p {
        font-size: 25px;
    }


    /*------ kontakt side styles slut------*/

    
     /*------ om side styles start ------*/
    
    .ombaggrund {
            margin-top: 0;
    grid-column: 1/ 9;
    grid-row: 1 /  span 4;
    width: 100%;
    background-image: url(baggrundenom.png);
    background-repeat: no-repeat;
    background-size: 1100px auto;
    background-position:right top;
    height: 900px;
   
    }
    
       /*------ om siden tekst start ------*/
    
    .omtekst {
        grid-column: 5/9;
        grid-row: 2/4;
        margin-top: 70px;
        bottom: 5%;
        text-align: justify;
        right: 50px;
        margin-left: 40px;
        
        
    }
    .omtekst p{
        font-size: 20px;
    }
    
    .omtekst h1 {
        font-size: 55px;
    }
    
    /*------ om siden tekst slut ------*/
    
    /*------ om side styles slut ------*/
    



}

@media only screen and (min-width: 1400px) {
  .homepage {
  background-color: #f5f5f5;

  }
  .container {
    background-color: white;
     max-width: 1680px;
    margin: 0 auto;
    -webkit-box-shadow: 0px 10px 19px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 19px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 19px -1px rgba(0,0,0,0.75);
  }
  .imagecontainer {
    background-size: 1050px auto ;
    height: 840px;

  }

/*------ kontakt side styles------*/
      .piccontainer{
         margin-top: 0;
    grid-column: 1/ 9;
    grid-row: 1 / span 4;
    width: 100%;
    background-image: url(boelgens.png);
    background-repeat: no-repeat;
    background-size: 1400px auto;
    background-position:right top;
    height: 900px;

    }

     .kontakt-form {
        z-index: 99;
        background-color: white;
        grid-column: 2 /  8;
        grid-row: 2/ 3;
        top: 30%;
        margin: 0 auto;
        right: 210px;
        box-shadow: 0 0 10px black;
        border-radius: 10px;
        width: 60%;
        text-align: center;
        -webkit-box-shadow: -2px 9px 28px -1px rgba(122,118,122,1);
        -moz-box-shadow: -2px 9px 28px -1px rgba(122,118,122,1);
        box-shadow: -2px 9px 28px -1px rgba(122,118,122,1);
    }

/*------ kontakt side styles slut------*/
}
